<h1>Design components</h1>

<h2>Card</h2>

<%= render partial: 'shared/card', locals: { beach: Beach.first } %>

<h2>Buttons</h2>

<!-- Standard button -->
<button type="button" class="btn btn-default">Default</button>

<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<button type="button" class="btn btn-primary">Primary</button>

<!-- Indicates a successful or positive action -->
<button type="button" class="btn btn-success">Success</button>

<!-- Contextual button for informational alert messages -->
<button type="button" class="btn btn-info">Info</button>

<!-- Indicates caution should be taken with this action -->
<button type="button" class="btn btn-warning">Warning</button>

<!-- Indicates a dangerous or potentially negative action -->
<button type="button" class="btn btn-danger">Danger</button>

<!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
<button type="button" class="btn btn-link">Link</button>




<img src='https://kitt.lewagon.com/placeholder/users/AdlineI' class="avatar-bordered"/>
<img src='https://kitt.lewagon.com/placeholder/users/AdlineI' class="avatar-large"/>

<div>color sample</div>

<div class="div-with-flex">

  <div class="color-sample gray"></div>

  <div class="color-sample blue"></div>

  <div class="color-sample green"></div>

  <div class="color-sample yellow"></div>

  <div class="color-sample red"></div>

  <div class="color-sample orange"></div>

  <div class="color-sample light-yellow"></div>

  <div class="color-sample light-orange"></div>

</div>


<h2>Banner</h2>
<%= render 'shared/banner' %>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
  </div>
</div>


