// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$light-yellow:#ff9000;
$light-orange:#ffd700;
$sea-serpent:#50c9ce;



.color-sample {

  width: 100px;

  height: 100px;

}

.div-with-flex {

  display: flex;

}

.gray {

  background-color: $gray;

}

.blue {

  background-color: $blue;

}

.green {

  background-color: $green;

}

.yellow {

  background-color: $yellow;

}

.red {

  background-color: $red;

}

.orange {

  background-color: $orange;

}

.light-gray {

  background-color: $light-gray;

}

.light-orange {

  background-color: $light-orange;

}

.light-yellow {

  background-color: $light-yellow;

}

.sea-serpent{
  background-color: $sea-serpent;
}
