<div class="banner" style="background-image: linear-gradient(0deg, rgba(255, 248, 184, 0.20) 50%, rgba(255, 251, 235, 0.48) 80%), url(/assets/palmbeach.jpg)">
  <div class="banner-content">
    <h1>Hakuna-Matata</h1>
    <!-- <p><strong></strong></p> -->
    <%= link_to "Find the Perfect Beach To Rent", beaches_path, class: "btn btn-success btn-lg" %>
  </div>
</div>
