.btn {
  border-radius: 50px;
  padding: 10px 15px;
  transition: background-color 0.5s ease;
}
.btn-lg{
  padding: 20px 60px;
}

#button-booking {
    padding: 5px 15px;
    border: 2px solid #469ae0;
    border-radius: 4px;
    overflow: hidden;
    transition: .9s;
    color: #469ae0;
    font-weight: lighter;
      &:after {
    position: absolute;
    transition: .9s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: #f7f7f7;
    right: 0;
    left: auto;
    color: white;
  }
  &:hover {
    cursor: pointer;
    text-decoration: none;
    font-weight: bolder;
    &:after {
      width: 100%;
      left: 0;
      color: #e6e6e6;
    }
  }
}
.button-homepage {
  flex: 1 1 auto;
  margin: 10px;
  padding: 10px;
  border: 2px solid #f6f7f9;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow:hidden;
  transition: .9s;
  font-weight: bold;
  color: #f6f7f9;
  &:after {
    position: absolute;
    transition: .9s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: #f7f7f7;
    right: 0;
    left: auto;
    color: #f6f7f9;
  }
  &:hover {
    cursor: pointer;
    text-decoration: none;
    color: white;
    &:after {
      width: 100%;
      left: 0;
      color: #f6f7f9;
    }
  }
}
