.footer {
  background-color:  #f35b04;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  width: 100%;
  // margin-top:px

}
.footer-links {
  display: flex;
  align-items: center;
}
.footer a {
  color: white;
  // opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 10px 10px;
}
.footer a:hover {
  opacity: 1;
}
