<div class="container">
  <div class="row">
    <% @beaches.each do |beach| %>
      <div class="col-xs-12 col-sm-4">
        <%= render partial: 'shared/card', locals: { beach: beach } %>
      </div>
    <% end %>
  </div>
</div>


